body {
  font-family: 'Optima';
  background-color: white;
  display: grid;
  justify-content: stretch;
}

.schemaName {
  color: #fff;
  font-size: 20px;
  margin-left: 40px;
}

.schemaName input[type='text'] {
  height: 31px;
  font-size: 20px;
}

.container {
  background-color: #4a4e69;
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 10% auto 10%;
  margin: 30px 30px 0 30px;
  min-height: 500px;
}
.container .headers {
  color: white;
  font-style: bold;
  margin: 0 10px 0 10px;
  font-family: 'Optima';
  font-size: 20px;
  display: grid;
  grid-template-columns: 45% 17% 10% 10% 15%;
}

.container .headers p {
  /* background-color: rgb(21, 76, 143); */
  margin: 5px;
  /* border-style: solid;
  border-width: thin; */
}
.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}

.optionsKey {
  background-color: white;
  margin: 10px;
}

.submit {
  grid-column-start: 2;
  grid-column-end: 3;
}

button {
  font-size: 20px;
}

code {
  color: white;
  font-size: 20px;
}

.saveButton {
  margin: 20px 0 20px 30px;
}
pre {
  margin: 0 0 0 30px;
}

pre {
<<<<<<< HEAD
  margin: 30px;
 
}

pre code {
  color: #4a4e69;
}

.buttons{
  margin-left: 10px;
}

.submit {
  margin: 0px 10px 0px 0px;
}

=======
  cursor: pointer;
}

pre:hover {
  background-color: rgb(116, 129, 172);
}

#hideThis {
  display: none;
}

.clipboard-message {
  margin: 10px 0 0 30px;
  background-color: rgb(255, 232, 59);
  color: #000000;
  font-family: 'Optima';
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  text-align: center;
}
/* 
.clipboard-message {
  opacity: 1;
  animation: fade 2s linear;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */
>>>>>>> dev
