body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    /* background-color: #4a4e69; */
}

.submit {
    background-color:   #4a4e69;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-family: "Optima";
    border-radius: 3px;
    background-image: linear-gradient(to right, #d2d2d2, #4a4e69);
    margin-top: 50px;
    margin-bottom: 30px;
}

.signup {
    color: #4a4e69;
    font-size: 18px;
    font-family: "Optima";
    text-decoration: none;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Optima";
    font-size: 35px;
    color: #4a4e69;
}

.entry {
    width: 295px;
    height: 35px;   
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: 1px #4a4e69 solid; 
}

.emailField {
    margin: 20px;
}

.passwordField {  
    margin: 10px;
}

.entry:focus {
    outline: none;
}

.armadillo{
    margin-top: -50px;
    width: 50px;
    height: 50px;
}