body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: #FFF4E6;
}

.container {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 70px;
}

.signupForm {
    background-color: #4a4e69;
    width: 400px;
}

 .loginForm {
    width: 680px;
    background-color: white;
}

.loginForm Input {
    color: #4a4e69;
    font-size: 20px;
    padding: 5px;
}

.signupForm Input {
    background-color: #4a4e69;
    color: white;
    font-size: 20px;
    padding: 5px;
}

.loginButton {
    background-color: #4a4e69;
    color: white !important;
    width: 170px;
    height: 50px;
    font-size: 30px !important;
    font-family: "Optima";
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 30px;
}


.signupButton {
    background-color: white !important;
    color: #4a4e69 !important;
    width: 150px;
    height: 50px;
    font-size: 30px !important  ;
    font-family: "Optima";
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 30px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Optima";
    font-size: 35px;
    color: #4a4e69;
}

.signup {
    font-size: 35px;
    color: white;
}
.entry {
    width: 295px;
    height: 35px;   
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: 1px #4a4e69 solid; 
}

.entry:focus {
    outline: none;
}

.emailField {
    margin: 20px;
}

.passwordField {  
    margin: 10px;
}

.armadillo{
    margin-top: -50px;
    width: 50px;
    height: 50px;
}